
.sync/
btsync/
ImageMagick/
Mousepad/
Thunar/
icedtea-web/
inkscape/

xfce4/
ranger/
pulse/
menus/
vlc/
sqlitebrowser/
manjaro/
gconf/
gtk-3.0/
gtk-2.0/
google-chrome/
libreoffice/
mimeapps.list
orage/
pavucontrol.ini
qpdfview/
kactivitymanagerdrc
yad.conf
volumeicon/
viewnior/
user-dirs.locale
user-dirs.dirs
tikzit/
systemd/
sublime-text-2
sublime-text-3
globaltime/
galculator/
filezilla/
deluge/
dconf/
configstore/
catfish/
base16-shell/
autostart/
VirtualBox/
Trolltech.conf
QtProject.conf
=
nvim/bundle/
mpd/log
mps-youtube/cache_py_3.5.1
mps-youtube/input_history
