
.sync/
btsync/
ImageMagick/
Mousepad/
Thunar/
icedtea-web/
inkscape/

xfce4/
ranger/
pulse/
menus/
vlc/
sqlitebrowser/
manjaro/
gconf/
gtk-3.0/
gtk-2.0/
google-chrome/
libreoffice/
mimeapps.list
orage/
pavucontrol.ini
qpdview/
kactivitymanagerdrc
